body:after {
    background-image: url(/static/img/what_even_is_this.png);
    content: '';
    height: 100%;
    left: 0;
    mix-blend-mode: difference;
    opacity: .015;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

main {
    margin: 4em auto 0;
    max-width: 500px;
    padding: 0 .25em;
}

h1 {
    margin-bottom: 1em;
}

p {
    font-size: 1.1rem;
    margin-bottom: .5em;
}

a {
    color: var(--text-color2);
}
