main {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em .2em;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

section {
    background: var(--primary1);
    border: 5px solid var(--primary2);
    border-radius: 5px;
    margin: .5rem auto;
    padding: .5em;
}

section h2:first-child {
    margin-bottom: .5em;
}

input[type=text] {
    background: var(--extra1);
    border: 2px solid var(--primary2);
    border-radius: 5px;
    color: var(--text-color1);
}

button {
    background: var(--primary2);
    border: 2px solid var(--secondary2);
    border-radius: 5px;
    color: var(--text-color1);
    outline: none;
}

button:hover {
    background: var(--primary1);
}

#welcome-message-form {
    display: grid;
    grid-template-rows: 1fr 2em;
    justify-items: start;
}

#welcome-message-form > input {
    background: var(--primary2);
    border: 2px solid var(--secondary2);
    border-radius: 5px;
    color: var(--text-color1);
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    outline: none;
    padding: .2em .5em;
}

#welcome-message-form > input:hover {
    background: var(--primary1);
}

#welcome-message-content {
    background: var(--extra1);
    border: 2px solid var(--primary2);
    border-radius: 5px;
    color: var(--text-color1);
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    margin-bottom: .3em;
    min-height: 5em;
    padding: .3rem .2rem;
    resize: vertical;
    width: 100%;
}

#welcome-message-content:focus {
    outline-width: 0;
}

#welcome-message-content::placeholder {
    color: var(--text-faded1);
}

#create-room-box {
    border-left: 5px solid var(--secondary2);
    margin-bottom: 1em;
    padding: .5em .4em;
}

#create-room-status {
    background: var(--secondary2);
    border-radius: 5px;
    color: var(--text-color4);
    padding: .5em .7em;
    margin: .5em auto;
}

#create-room-status:empty {
    display: none;
}

#create-room-form {
    align-items: center;
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-template-rows: 2em 2em 2em;
    justify-items: start;
    margin-top: .5em;
}

#create-room-form label {
    margin: auto 0;
}

#create-room-form input[type=text] {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    height: 2em;
    padding: .7em .4em;
    width: 100%;
}

#create-room-form input[type=submit] {
    background: var(--primary2);
    border: 2px solid var(--secondary2);
    border-radius: 5px;
    color: var(--text-color1);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    grid-column: 2;
    height: 2em;
    outline: none;
    width: 5em;
}

#create-room-form input[type=submit]:hover {
    background: var(--primary1);
}

#active-rooms-box {
    border-left: 5px solid var(--secondary2);
    padding: .5em .4em;
}

#active-rooms-list {
    list-style: none;
    margin-top: 1em;
}

#active-rooms-list li {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 1em;
    padding: .3em;
}

#active-rooms-list li:last-child {
    margin-bottom: 0;
}

.room-name {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin: .3em;
    width: 100%;
    word-wrap: break-word;
}

.room-controls {
    display: grid;
    grid-template-columns: 1fr 3em;
    grid-template-rows: 2em 2em;
    justify-items: start;
    row-gap: .5em;
}

#active-rooms-list input[type=text] {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    padding: .7em .4em;
    width: 100%;
}

#active-rooms-list button {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.delete-button {
    border: none;
    background: #b71c1c;
    border-radius: 5px;
    color: #fafafa;
    font-weight: bold;
    outline: none;
    padding: .5em;
    width: 8em;
}

.delete-button:hover {
    background: #d50000;
}
