@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Lato&family=Roboto+Slab:wght@500&display=swap');

/* "Reset" CSS */
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Default style */
:root {
    --background: #ffffff;
}

html {
    font-size: 100%;
}

body {
    background: var(--background);
    font-family: 'Roboto Slab', serif;
}
