main {
    margin-top: 2em;
    padding: 0 .2em;
}

main h1:first-child {
    padding-left: .5em;
}

#colors-pane {
    border-radius: 5px;
    margin-bottom: 1em;
}

#colors-list {
    border-radius: 5px;
    margin: 1em auto;
}

#colors-list li {
    display: grid;
    grid-template-columns: 4.5em auto;
    padding: .5em .7em;
}

#preview-pane {
    margin-bottom: 3em;
}

#preview-pane > h2 {
    margin-bottom: .5em;
    padding-left: .5em;
}
