main {
    margin: 4em auto 0;
    max-width: 500px;
    min-height: 80vh;
    padding: 0 .25em;
}

#welcome-header {
    margin-bottom: 1em;
}

#welcome-message {
    border-radius: 20px;
    margin: .1em auto .5em;
    padding: 1em;
}

#welcome-message a {
    color: var(--text-color2);
}

#info-box {
    background: var(--secondary2);
    border-radius: 20px;
    color: var(--text-color4);
    margin: .1em auto .5em;
    padding: 1em;
}

#info-box:empty {
    display: none;
}

#room-login-form {
    background: var(--primary1);
    border: 5px solid var(--primary2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    padding: 1em;
}

#room-login-form input {
    background: var(--extra1);
    border: 2px solid var(--primary2);
    border-radius: 5px;
    box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.9);
    color: var(--text-color1);
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    margin-bottom: .3em;
    padding: .1em .2em;
}

#room-login-form input:focus {
    outline-width: 0;
}

#room-login-form input[type=submit] {
    background: var(--primary2);
    border: 2px solid var(--secondary2);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    outline: none;
    margin: .5em auto 0;
    padding: .2em;
}

#room-login-form input[type=submit]:hover {
    background: var(--primary1);
}

footer {
    background: var(--background2);
    min-height: 20vh;
    padding: 1em .25em 1.2em;
}

footer p {
    max-width: 960px;
    margin: 0 auto;
}

footer a {
    color: var(--text-color2);
}
