<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Admin login</title>
</head>

<body>
  <h1>Admin login</h1>

  <div id="info-box">{{ info }}</div>

  <form action="/admin_login" method="post" id="loginForm">
    <label for="username">Username: </label>
    <input type="text" name="username" required>

    <label for="password">Password: </label>
    <input type="password" name="password" required>

    <input type="submit" value="Login">
  </form>
</body>

</html>
