<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Personal forum</title>

  <link href="/static/css/base.css" rel="stylesheet">
</head>

<body>
  <h1>Welcome</h1>

  <div id="info-box">{{ info }}</div>

  <form action="/enter_room" method="post" id="room-login-form">
    <label for="name">Room</label>
    <input type="text" name="name" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <input type="submit" value="Enter">
  </form>

  <script src="/static/js/base.js"></script>
</body>

</html>
