<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Room '{{ name }}'</title>

  <link href="/static/css/room.css" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/">Personal forum</a>
    <input list="rooms-seen" id="go-to-room" placeholder="Go to another room">
    <datalist id="rooms-seen"></datalist>
  </nav>

  <h1>Welcome to '{{ name }}'</h1>

  <div id="newThreadBox">
    <p id="newThreadInfoBox"></p>

    <form id="newThreadForm">
      <textarea name="content" placeholder="Type a new thread message here." required></textarea>
      <input type="submit" value="Start the thread">
    </form>
  </div>

  <div id="search-box">
    <input type="text" id="searchText" placeholder="Write your search terms here.">
    <button id="clearSearchButton">Clear</button>
  </div>

  <div id="message-box"></div>

  <!-- Dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/mark.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/findandreplacedomtext@0.4.6/src/findAndReplaceDOMText.min.js"></script>

  <!-- Custom scripts -->
  <script>const roomName = '{{ name }}';</script>
  <script src="/static/js/room.js"></script>
</body>

</html>
