<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Room '{{ name }}'</title>

  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/room.css" rel="stylesheet">
</head>

<body>
  <nav>
    <div id="navbar-content">
      <p id="go-home"><a href="/" id="go-home">Home</a></p>
      <input list="rooms-seen" id="go-to-room" placeholder="Go to another room">
      <datalist id="rooms-seen"></datalist>

      <div id="colors-dropdown">
        <button onclick="toggleColorsDropdown();" id="colors-dropdown-button">🎨</button>
        <div id="colors-dropdown-content" class="dropdown-content">
          <button id="light-theme-button">Light</button>
          <button id="dark-theme-button">Dark</button>
          <form action="/colors">
            <button id="customize-colors-button">Customize</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <h1 id="welcome-header">
      Welcome to room '{{ name }}'.
      <button id="show-guide-button">?</button>
    </h1>

    <div id="guide">
      <div id="guide-content">
        <h2># Quick guide</h2>
        <p>
          On this page you can browse the room's threads and start new ones.
        </p>
        <p>
          Click on a thread to read all replies and post your own.
          You should be able to use
          <a href="https://commonmark.org/help/">CommonMark</a>
          to write your messages.
        </p>
        <p>
          <strong>Updates are requested manually</strong>, by refreshing
          the page (on mobile, you should see an easy-refresh button).
        </p>
        <p>
          You can sort threads by searching for a given phrase.
          The most relevant results will be shown at the top.
          You can also order threads by their creation time.
        </p>
        <p>
          The 'color palette' button in the navigation bar allows you to choose
          a color theme which suits your needs, or even create your own.
        </p>
      </div>
    </div>

    <div id="new-thread-box">
      <h2>Start a thread</h2>

      <p id="new-thread-info"></p>

      <form id="new-thread-form">
        <textarea name="content" id="new-thread-content" placeholder="Type a new thread message here."
          required></textarea>
        <div id="new-thread-controls">
          <input type="submit" value="Send">
          <input type="reset" value="Clear">
        </div>
      </form>
    </div>

    <div id="sort-box">
      <h2>Sort the threads</h2>
      <div id="sort-controls">
        <div id="search-box">
          <input type="text" id="search-text" placeholder="Write your search phrase here.">
          <button id="clear-search-button">X</button>
        </div>
        <div id="order-box">
          <select id="thread-order" name="thread-order">
            <option value="old">Oldest first</option>
            <option value="new">Newest first</option>
          </select>
        </div>
      </div>
    </div>

    <div id="message-box"></div>

    <button id="refresh-button">
      <img src="/static/img/refresh.png" alt="Refresh messages button">
    </button>
  </main>

  <footer>
    <p>
      Icons made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>.
    </p>
  </footer>

  <!-- Dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/mark.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/findandreplacedomtext@0.4.6/src/findAndReplaceDOMText.min.js"></script>

  <!-- Custom scripts -->
  <script>const roomName = '{{ name }}';</script>
  <script src="/static/js/base.js"></script>
  <script src="/static/js/room.js"></script>
</body>

</html>
